$default-px10: 10px;
$default-px20: 20px;
$default-px40: 40px;

$ebony-cray: #253141;
$pickled-bluewood: #2f3e51;
$mine-shaft: #333;
$picton-blue: #38aef0;
$mako: #434a54;
$dusty-gray: #999;
$alto: #ddd;
$gallery: #eee;
$alabaster: #fafafa;
$white: #fff;
